# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/
env/

# Environment
.env
.env.local
.env.production
.flaskenv

# React Build
frontend/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python
*.egg-info/
dist/
build/

# Migrations
migrations/versions/*.pyc

# Backend logs
backend/src/utils/general/LOGS/

# NLP models cache
nlp_engine/models_cache/
