# Backend - Flask API
flask==3.1.0
flask-cors==5.0.1
flask-jwt-extended==4.7.1
flask-sqlalchemy==3.1.1
flask-migrate==4.1.0
marshmallow==3.23.2
psycopg2-binary==2.9.10
python-dotenv==1.0.1
gunicorn==23.0.0
Flask-RESTful==0.3.9
requests==2.26.0
urllib3==1.26.7
flask-swagger-ui==3.36.0
Werkzeug==2.3.0
psycopg2
setuptools
pyjwt
pytz