[AMBIENTE]
env = DESARROLLO

[DESARROLLO]
db_user = dawau
db_pass = dawau
#db_host = dawa_database
#Tuvimos que cambiar el nombre del host  
# para trabajar con otros puertos: 

db_host = localhost
#Esta es la original:
#db_name = dawa_db
#esta es la nueva db:
db_name = r1ug_db
db_port = 5432
secret_jwt = JkDawa*+19**

[PRODUCCION]
db_user = postgres
db_pass = dawapass
db_host = postgres-postgres-1
db_name = dawa
db_port = 5432
secret_jwt = JkDawa*+19**//65454
