[AMBIENTE]
env = DESARROLLO

[DESARROLLO]
; === OPCIÓN 1: Supabase (para desarrollo remoto) ===
; Session pooler — más estable que conexión directa
db_user = postgres.ikvcqliynfkdjncnquje
db_pass = matchingprototipo
db_host = aws-1-us-east-1.pooler.supabase.com
db_name = postgres
db_port = 6543
secret_jwt = MatchUG_JWT_Secret_2026!

[LOCAL]
; === OPCIÓN 2: PostgreSQL local (para sustentación) ===
db_user = postgres
db_pass = postgres
db_host = localhost
db_name = matching_db
db_port = 5432
secret_jwt = MatchUG_JWT_Secret_2026!

[PRODUCCION]
db_user = postgres
db_pass = produccion_pass
db_host = localhost
db_name = matching_db
db_port = 5432
secret_jwt = MatchUG_JWT_Secret_PROD_2026!
